* {
  margin: 0;
  padding: 0;
}

.row, .container, .container-fluid, .col, .col-1, .col-2, .col-3, .col-4, .col-5,
 .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line height: 26px;
  letter spacing: 0px;
  color: #111517;
}

h1.big {
  font-family: 'bebas-neue', sans-serif;
  font-size: 140px;
  line height: 120px;
  letter-spacing: 0px;
  color: white;
}

h1 {
  font-family: 'bebas-neue', sans-serif;
  font-size: 83px;
  line height: 73px;
  letter spacing: 0px;
  color: white;
}

h2 {
  font-family: 'bebas-neue', sans-serif;
  font-size: 50px;
  line height: 43px;
  letter spacing: 0px;
}

h3 {
  font-family: 'bebas-neue', sans-serif;
  font-size: 28px;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0;
}

.white{
  color: #ffffff;
  width: 600px;
}

a {
  color: inherit;
}


/*Header*/

header {
  z-index: 100;
  top:0;
  width: 100%
}


/*Sociale medier og tekst i toppen*/
.SoMe {
  height: 45px;
  background-color: rgba(87, 92, 94, 0.5);
  color: #ffffff;
  font-size: 12px;
}

.SoMe div {
  margin-left: 3.5%;
  margin-right: 3.5%;
}

.SoMe ul {
  list-style-type: none;
  margin-bottom: 0;
}

.SoMe li {
  display: inline-block;
}

#SoMecalendar {
  color: #e54c00;
  text-decoration: underline;
}

.header_some_icon {
  height: 15px;
  width: auto;
  margin:auto 0 auto 40px;
}

.header_some_icon img {
  height: 100%;
}


/*Logo og menu*/
.navbar {
  margin-left: 3.5%;
  margin-right: 3.5%;
  padding-left: 0;
  padding-right: 0;
}

.NavLogo {
  display: flex;
  float: left;
}


/* Nav start */
.menubtn  {
  position: fixed;
  top: 0;
  width:18px;
  height: 20px;
  cursor:pointer;
  top: 9%;
  left: 95%;
}

.menubtn span,
.menubtn::before,
.menubtn::after {
  display: block;
  position: absolute;
  width:100%;
  height: 4px;
  background: grey;

  transition:all 0.2s ease-in-out;
  -webkit-transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -ms-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
  border-radius:3px;
 }

.menubtn span {
  top:50%;
  margin-top:-2px;
}

.menubtn::before,
.menubtn::after {
  content:"";
}

.menubtn::before {
  top:0;
}
.menubtn::after {
  bottom:0;
}
.menubtn.close span {
  opacity:0;
}

.menubtn.close::before {
  top:15px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menubtn.close::after {
  top:15px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}



.b-a {
   transition: all .25s;
   content: "";
   position: absolute;
   right: 0;
   height: 6px;
   width: 30px;
   border-radius: 15px;
   background-color: black;
}

.menu-collapsed {
   transition: all .25s;
   position: fixed;
   z-index: 1;
 }
 .menu-collapsed ul {
  transition: all 0s;
  position: fixed;
  left: -9000px;
   }
}
/*
.bar {
   @extend .b-a;
   position: absolute;
   right: 12px;
   top: 24px;
   &:before {
      @extend .b-a;
      top: -8px;
   }
   &:after {
      @extend .b-a;
      top: 8px;
   }
}
*/
.b-a-expanded {
   transition: all .25s;
   top: -0px;
}
.menu-expanded {
   transition: all .25s;
   font-family: 'bebas-neue',sans-serif;
   text-align: center;
   line-height: 20px;
   height: 100%;
   width: 100%;
   border-radius: 0px;
   top: 0;
   left: 0;
   background-color: #f2f2f2;
}
.menu-expanded ul {
  transition: all 0s;
  position: relative;
  left: 0;
  z-index: 2;
}

.menu-expanded a {
transition: all .5s;
font-size: 2em;
padding: 5px;
color: black;
display:block;
text-align: left;
margin: 15px;

&:hover {
background-color: white;
text-decoration: line-through;
color: #e54c00;
transition: all .15s;
letter-spacing: 2px;
border: 1px solid rgba(255, 255, 255, .15);
}}}


.some_icons_nav {
  list-style-type: none;
    display: flex;
    flex-flow: row;
}

.nav_address {
  font-family: Montserrat;
  font-size: 10px;
}

.nav_address p {
  font-size: 16px;
  margin-left: 27%;
}

.slides1 {
  list-style-type: none;
  padding: 10px;
  display: -webkit-inline-box;
  border-bottom: solid #e54c00;
}

.slide1 {
  padding: 10px;
  list-style-type: none;
}

.nav_wrapper {
  list-style-type: none;
  margin-top: 10%;
  margin-left: 40%;
}

.links_wrapper {
  display: inline-block;
  list-style-type: none;
  margin-right: 30%;
}

.nav_links {
  text-decoration: none;
}

.nav_links:hover {
  text-decoration: line-through;
  color: #e54c00;
}

.nav_img {
  height: 20px;
  width: 20px;
}

.something {
  text-align: center;
}

/* Nav slut */


/*FORSIDE*/


/*Hero image*/

.hero {
  position: relative;
  top: 0;
  margin-top: 0;
  margin-bottom: 120px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.3);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
}


.hero_title {
  max-width: 30%;
  max-height: 20%;
  text-shadow: 0 2px 0 #111517;
  line-height: 0.88;
}

.hero_info {
    position: absolute;
    top: 38%;
    margin-left: 12%;
}

.Rectangle {
  width: 185px;
  height: 62px;
  border-radius: 5px;
}

.hero_button {
  text-decoration: none;
  padding: 15px 25px;
  background-color: inherit;
  border-color: #e54c00;
  width: 185px;
  height: 60px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  color: #ffffff;
}

.hero_button:hover {
  color: #fff;
  text-decoration: none;
}

.watchourshowreel {
    left: 67%;
    bottom: 45%;
    position: absolute;
    display: block;
}

.Watch {
  width: 100px;
  height: 39px;
  font-size: 18px;
  line-height: 2.17;
  color: #f2f2f2;
  position:absolute;
  margin-left: 78px;
  bottom: 8px;
}

.Showreel {
  width: 114px;
  height: 39px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.63;
  color: #f2f2f2;
  margin-left: 78px;
  position: absolute;
  bottom: 0.1px;
  top: 26px;
}

.playcircle {
  width: 67.5px;
  cursor: pointer;
}

.playcircle:hover {
  animation: shadow-pulse 3s infinite;
  border-radius: 50px;
}

@keyframes shadow-pulse
{
  0% {box-shadow: 0 0 0 0px rgb(64,64,64);}
  100% {box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);}
}

@keyframes shadow-pulse-big
{
  0% {box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);}
  100% {box-shadow: 0 0 0 60px rgba(0, 0, 0, 0);}
}



/*Case area*/

.case {
    margin: 0px auto 120px auto;
}

.case_info {

}

.case_img {
  width: 60%;
  border-radius: 10px;
  box-shadow: -30px 30px 30px -5px rgba(0, 0, 0, 0.4);
}

.cat {
  text-transform: uppercase;
  text-align: right;
}

.case_button {
  text-decoration: none;
  padding: 15px 25px;
  background-color: inherit;
  border-color: black;
  width: 185px;
  height: 60px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #111517;
}

.case_button:hover {
  text-decoration: none;
  color: #111517;
}


/* Process sektion */

.process-img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: content-box;
  padding: 10px;
}

.process-steps {
  font-family: 'bebas-neue',sans-serif;
  font-size: 83px;
  line-height: 0.88;
  color: #e54c00;
}

.ourprocess {
  margin-top: 30px;
}

.inner {
  position: relative;
  color: #e3e3e3;
  text-align: center;
  padding-right: 25px;
}

.dash {
  position: absolute;
  height: 12px;
  width: 50px;
  top: 30px;
  background-color: #e54c00;
  border-style: solid;
  border-width: 4px;
  border-color: #f2f2f2;
}


/* Hvad kan vi gøre for dig? Sektion */

.do_for_u {
  margin: 120px auto 60px auto;
}

.wcwd_header {
  width: 290px;
  height: 80px;
  font-family: 'bebas-neue',sans-serif;
  font-size: 50px;
  line-height: 0.86;
  margin-top: 10%;
}

.wcwd_headline {
  width: 255px;
  height: 23px;
  font-family: 'bebas-neue',sans-serif;
  font-size: 31px;
  padding: 20px 0px;
}

.wcwd_text {
  width: 290px;
  height: 104px;
  font-size: 16px;
  line-height: 1.63;
  padding: 15px 0px;
}

.wcwd-content {
  max-width: 270px;
  padding: 15px;
}

.hover:hover {
  background-color: white;
  border-radius: 5px;
  box-shadow: -30px 30px 40px -5px rgba(0, 0, 0, 0.12);
  transition: 0.8s;
}

.wcwd_section {
  margin-left: 10%;
  padding: 20px;
}

.wcwd_button {
  text-decoration: none;
  padding: 15px 25px;
  margin-top: 60px;
  background-color: inherit;
  border-color: black;
  width: 185px;
  height: 60px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #111517;
}

.wcwd_button:hover {
  text-decoration: none;
  color: #111517;
}

.wcwd_img {
  width: 44px;
  width: 70px;
}


.logo_slider {
  border-top: solid 2px #e3e3e3;
  border-bottom: solid 2px #e3e3e3;
  margin: 60px auto 60px auto;
  padding: 100px 0 100px 0;
}

.logo_slider img {
  height: 50px;
  margin:auto 0 auto 150px;
}


.know_us {
  margin: 60px auto 60px auto;
}

.know_us_gallery {
  padding: 20px 10px 30px 10px;
}

.know_us_gallery img {
  height: 500px;
  border-radius: 10px;
  box-shadow: 5px 10px 15px 10px rgba(0, 0, 0, 0.2);
  margin: 0 20px 0 20px;
}

.know_button {
  text-decoration: none;
  padding: 15px 25px;
  background-color: inherit;
  border-color: black;
  width: 185px;
  height: 60px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #111517;
}

.know_button:hover {
  text-decoration: none;
  color: inherit;
}

/* FORSIDE slut */


/*OM CHANGE*/


/*Om Intro*/

.om_intro {

}

.om_intro_title {
  width: 100%;
  margin-top: 150px;
}

.om_intro_title h2 {
  text-align: center;
  width: 35%;
  line-height: 0.9;
  margin: auto;
  padding: 0;
  margin: 20px auto 20px auto;
}

.stroke_position {
  width: 100%;
}

.stroke {
  height: 5px;
  width: 65px;
  background-color: #e54c00;
  border-radius: 4px;
  margin: 30px auto 20px auto;
}


.intro_boxes {
  margin: 60px auto 100px auto;
}

.intro_box {
  text-decoration: none;
  max-width: 300px;
  padding: 55px 35px;
  background-color: #f8f8f8;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
}

.intro_box img {
  display: block;
  margin: 10px auto 10px auto;
}

.intro_box:hover {
  text-decoration: none;
  color: inherit;
  background-color: white;
}

.omchange_calltoaction {
  background: #e54c00;
  padding: 30px 20px;
  border-radius: 50px;
  text-align: center;
}


.vores_process p {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 10px auto;
}

/*OM CHANGE slut*/


/*FOOTER*/

.FooterProject {
  padding: 60px 0 90px 0;
  background-color: #e9e9e9;
  text-align: center;
  margin-top: 60px;
}

.FooterProject h2{
  margin-bottom: 40px;
}

.footer_button {
  text-decoration: none;
  margin-top: 60px;
  padding: 15px 65px;
  background-color: inherit;
  color: white;
  border-color: #e54c00;
  background-color: #e54c00;
  border-radius: 5px;
  border-style: solid;
  box-shadow: -30px 30px 40px -5px rgba(0, 0, 0, 0.12);
}

.footer_button:hover {
  text-decoration: none;
  color: white;
}

.letstalkfooter {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: #f2f2f2;
  margin: 70px auto 70px auto;
}

.letstalkfooter a {
  color: #e54c00;
}

.letstalkfooter a:hover {
  color: #e54c00;
}

.SoMefooter {
  border-top: solid 2px #e3e3e3;
  border-bottom: solid 2px #e3e3e3;
}

.SoMefooter ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 50px auto 50px auto;

}

.SoMefooter li {
  display: inline-block;
  margin: 0 auto 0 auto;
}

.ContactFooter {
  text-align: center;
  margin: 70px auto 70px auto;
}

.footer_mail {
  color: #e54c00;
}

.footer_mail:hover {
  color: #e54c00;
}

.footer_address p {
  font-size: 20px;
  margin-top: 40px;
}

.footer_address:hover {
  text-decoration: none;
  color: inherit;
}

.cvr {
  height: 30px;
  background-color: #e3e3e3;
  font-size: 13px;
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }
