* {
  margin: 0;
  padding: 0;
}

.row, .container, .container-fluid, .col, .col-1, .col-2, .col-3, .col-4, .col-5,
.col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-sm-1, .col-sm-2,
.col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4,
.col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html.sr .load-hidden {
    visibility: hidden;
}

body {
  background-color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0px;
  color: #111517;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
}

.wrapper_cases {
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 16px;
  padding-bottom: 10%;
}

.flex_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
}

.cases_wrap {
  padding: 220px 0px 120px 0px;
}

.cases_wrap h1 {
  max-width: 585px;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
}

/*========= FONTS =========*/
h1.big {
  font-family: 'bebas-neue', sans-serif;
  font-size: 140px;
  line-height: 120px;
  letter-spacing: 0px;
  color: white;
}

h1 {
  font-family: 'bebas-neue', sans-serif;
  font-size: 83px;
  color: white;
}

h1.dark {
  font-family: 'bebas-neue', sans-serif;
  font-size: 83px;
  line-height: 73px;
  letter-spacing: 0px;
  color: #111517;
}

h2 {
  font-family: 'bebas-neue', sans-serif;
  font-size: 50px;
  line-height: 43px;
  letter-spacing: 0px;
}

h3 {
  font-family: 'bebas-neue', sans-serif;
  font-size: 28px;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0;
}

.white {
  color: #ffffff;
}

.black {
  color: #111517;
}

.orange {
  color: #e54c00;
}

.gray {
  color: #999999;
}

a {
  color: inherit;
}

button:focus
 {
  outline: 0;
}

/*========= Fonts slut =========*/
/*========= HEADER =========*/
header {
  z-index: 100;
  top: 35px;
  width: 100%;
}

/*========= Sociale medier og tekst i toppen =========*/
.pre_header {
  position: absolute;
  z-index: 101;
}

.SoMe {
  height: 45px;
  background-color: rgba(87, 92, 94, 0.5);
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
}

.post-type-archive .SoMe, .page-id-521 .SoMe {
  color: #111517;
}

.SoMe div {
  margin-left: 3.5%;
  margin-right: 3.5%;
}

.SoMe ul {
  list-style-type: none;
  margin-bottom: 0;
}

.SoMe li {
  display: inline-block;
}

#SoMe_calendar {
  color: #e54c00;
  text-decoration: underline;
}

.header_some_icon {
  height: 15px;
  width: auto;
  margin: auto 0 auto 40px;
}

.header_some_icon img {
  height: 100%;
}

/*========= Logo og menu =========*/
.menu-burger-menu-container {
  font-size: 42px;
  color: black;
}

.menu {
  list-style-type: none;
  font-family: 'bebas-neue', sans-serif;
  line-height: 1;
  letter-spacing: normal;
  font-weight: normal;
}

.menu-item {
  padding: 6px 0px;
}

.menu-item a {
  font-size: 42px;
}

.menu-item a:hover {
  color: #e54c00;
  text-decoration: none;
}

.overlay a.current {
  text-decoration: line-through;
  color: #e54c00;
}

nav {
  margin-left: 3.5%;
  margin-right: 3.5%;
  margin-top: 30px;
  padding-left: 0;
  padding-right: 0;
  display: block;
}

/*========= Nav start =========*/
.nav_logo {
  position: fixed;
  top: 72px;
  left: 3.5%;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
  opacity: 0;
}

.nav_logo-active {
  opacity: 1;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #f8f8f8;
  overflow-y: hidden;
  transition: 0.4s;
}

.overlay_content {
  position: relative;
  top: 25%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.overlay a {
  display: block;
  transition: 0.3s;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.menubtn {
  z-index: 100;
  position: absolute;
  width: 22px;
  height: 19px;
  cursor: pointer;
  right: 3.5%;
  top: 38px;
}

.close {
  opacity: 1;
}

.close:not(:disabled):not(.disabled):hover {
  opacity: 1;
}

.menubtn span,
.menubtn::before,
.menubtn::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #f2f2f2;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  border-radius: 3px;
}

.menu_black:before, .menu_black span, .menu_black:after {
  background-color: #111517;
}

.menu_white:before, .menu_white span, .menu_white:after {
  background-color: #f2f2f2;
}

.menubtn span {
  top: 53%;
  margin-top: -2px;
}

.menubtn::before,
.menubtn::after {
  content: "";
}

.menubtn::before {
  top: 0;
}

.menubtn::after {
  bottom: 0;
}

.menubtn.close span {
  opacity: 0;
}

.menubtn.close::before {
  top: 4px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #111517;
}

.menubtn.close::after {
  top: 4px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #111517;
}

.some_icons_nav {
  list-style-type: none;
  display: flex;
  flex-flow: row;
}

.nav_address {
  font-family: Montserrat;
  font-size: 10px;
  padding-top: 15px;
}

.nav_address p {
  font-size: 16px;
  text-decoration: none;
}

.nav_address:hover {
  text-decoration: none;
  color: inherit;
}

.nav_some_wrapper {
  display: -webkit-inline-box;
  border-bottom: solid #e54c00;
  width: 212px;
  margin-top: 50px;
}

.nav_some {
  padding: 5px 30px 15px 0px;
  list-style-type: none;
  text-align: left;
}

.nav_some img {
  width:20px;
  height:20px;
}

.nav_wrapper {
  list-style-type: none;
  margin-left: 60%;
  display: block;
  width: 250px;
}

.nav_links {
  text-decoration: none;
}

.nav_links:hover {
  color: #e54c00;
}

.nav_img {
  height: 20px;
  width: 20px;
}

.nav_job a {
  font-size: 17px;
  font-family: Montserrat;
  padding-bottom: 5px;
}

.nav_job a:hover {
  color: inherit;
  text-decoration: none;
}

/*========= Nav slut =========*/
/*========= Search form =========*/
/*.search_form {
  position: absolute;
  z-index: 1000;
  height: 20px;
  width: 0;
  margin-left: 170px;
  top: 42px;
  right: 5%;
  padding-right: 20px;
  transform: translate(-50%, -50%);
}

.search_form.on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

input {
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border: 2px solid;
  border-radius: 50%;
  background: none;
  color: #f2f2f2;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, 0%);
  -ms-transform: translate(-100%, 0%);
  transform: translate(-100%, 0%);
}

.search {
  background: none;
  position: absolute;
  top: 4px;
  left: 5px;
  height: 20px;
  width: 20px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, 0%);
  -ms-transform: translate(-100%, 0%);
  transform: translate(-100%, 0%);
}

.pseudo_search:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 2px;
  background-color: #f2f2f2;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 7px;
  margin-left: 3px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.search_black:before {
  background-color: #111517;
}

.active_search:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 2px;
  background-color: #111517;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 7px;
  margin-left: 3px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.searchclose {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.pseudo_searchclose:after {
  background-color: #f2f2f2;
}

.active_searchclose:after {
  background-color: #111517;
}

.searchclose:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  margin-top: 0px;
  margin-left: -16px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.searchclose:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  margin-top: 0px;
  margin-left: -16px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.square {
  box-sizing: border-box;
  padding: 0 20px 0 10px;
  width: 205px;
  height: 30px;
  border: 1px solid;
  border-radius: 5px;
  background: none;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, 0%);
  -ms-transform: translate(-100%, 0%);
  transform: translate(-100%, 0%);
}*/

.post-type-archive .menubtn:before, .post-type-archive .menubtn span,
.post-type-archive .menubtn:after, .post-type-archive .pseudo_search:before,
.page-id-521 .menubtn:before, .page-id-521 .menubtn span, .page-id-521 .menubtn:after,
.page-id-521 .pseudo_search:before {
  background-color: #111517;
}

.post-type-archive .input {
  border-color: #111517;
  color: #111517;
}

.pos_fix {
  position: fixed;
  top: 77px;
}

.out_black {
  border-color: #111517;
  color: #111517;
}

.out_black2 {
  border-color: #111517;
  color: #111517;
}

.out_white {
  background-color: #f1f1f1;
}

.display_no {
  display: none;
}

/*========= Search form slut =========*/
/*========= Header slut =========*/
/*========= FORSIDE =========*/
/*========= Hero image =========*/
.hero {
  position: relative;
  top: 0;
  margin-top: 0;
  margin-bottom: 100px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
}

.hero_info {
  margin-top: 300px;
}

.hero_title {
  text-shadow: 0 2px 0 #111517;
}

.hero_text {
  width: 485px;
  padding-bottom: 40px;
}

.hero_button {
  text-decoration: none;
  font-weight: 500;
  padding: 15px 25px;
  background-color: inherit;
  border-color: #e54c00;
  width: 185px;
  height: 60px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  color: #ffffff;
}

.hero_button:hover {
  color: #fff;
  text-decoration: none;
}

.watchourshowreel {
  margin-top: 400px;
}

.blocker {
  z-index: 1000;
}

.modal {
  position: relative;
  max-width: 700px;
  max-height: 600px;
  min-width: 60%;
  min-height: 50%;
  background-color: #f2f2f2;
  box-shadow: 0 12px 24px -5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.modal a.close-modal {
  top: 2px;
  right: 2px;
}

.modal iframe,
.modal object,
.modal embed {
	position: absolute;
  top: 0;
  left: 0;
	width: 100%;
	height: 100%;
  padding: 20px;
}

.watch {
  margin: 12px 0 0 0;
  width: 100px;
  height: 34px;
  font-size: 18px;
  line-height: 1;
  color: #f2f2f2;
}

.showreel {
  margin: 0;
  width: 114px;
  height: 34px;
  font-size: 24px;
  font-weight: 500;
  line-height: 0;
  color: #f2f2f2;
}

.playcircle {
  width: 67.5px;
  cursor: pointer;
}

.playcircle:hover {
  animation: shadow-pulse 3s infinite;
  border-radius: 50px;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgb(64, 64, 64);
  }

  100% {
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
  }
}

@keyframes shadow-pulse-big {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
  }

  100% {
    box-shadow: 0 0 0 60px rgba(0, 0, 0, 0);
  }
}

/*========= Case area =========*/
.case {
  margin: 0px auto 120px auto;
}

.case_img {
  width: 800px;
  min-height: 600px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center !important;
  margin-bottom: 50px;
  border-radius: 10px;
  transition-delay: 2s;
 }


.forside_cases_wrapper {
  width: 450px;
  min-height: 650px;
  z-index: 1;
  left: 80px;
}

.forside_cases_header {
  font-family: 'bebas-neue', sans-serif;
  font-size: 50px;
  line-height: 43px;
  letter-spacing: 0px;
  text-align: left;
  width: 900px;
}

.forside_cases_text {
  width: 250px;
  padding-right: 30px;
}

.forside_cases_catergories {
  text-transform: uppercase;
  text-align: right;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #e54c00;
  padding-bottom: 25px;
}

.forside_cases_catergories a:hover {
  color: inherit;
  text-decoration:  none;
}

.case_button {
  text-decoration: none;
  font-weight: 500;
  padding: 15px 25px;
  background-color: inherit;
  border-color: black;
  width: 185px;
  height: 60px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #111517;
}

.case_button:hover {
  text-decoration: none;
  color: #111517;
}

.forside_case_button {
  display: flex;
  position: absolute;
  top: 300px;
  left: 0px;
  width: 175px;
  z-index: 2;
  text-decoration: none;
  font-weight: 500;
  padding: 15px 20px;
  background-color: inherit;
  border-color: black;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #111517;
}

.forside_case_button:hover {
  color: inherit;
  text-decoration: none;
}

/*========= Process sektion =========*/
.process_img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: content-box;
  padding: 10px;
  min-height: 300px;
}

.process_steps {
  font-family: 'bebas-neue', sans-serif;
  font-size: 83px;
  line-height: 0.88;
  color: #e54c00;
}

.ourprocess {
  margin-top: 30px;
}

.inner {
  position: relative;
  color: #e3e3e3;
  text-align: center;
}

.dash {
  position: absolute;
  height: 12px;
  width: 50px;
  top: 30px;
  background-color: #e54c00;
  border-style: solid;
  border-width: 4px;
  border-color: #f2f2f2;
}

.process_steps_text {
  margin-left: 20px;
}

/*========= Hvad kan vi gøre for dig? Sektion =========*/


.do_for_u {
  margin: 300px auto 100px auto;
}

.wcwd_content {
  margin: 10px;
  padding: 20px;
  max-width: 320px;
  min-height: 300px;
}

.wcwd_intro {
  padding: 40px 20px;
}

.wcwd_intro h2 {
  max-width: 270px;
}

.wcwd_hover:hover {
  background-color: white;
  border-radius: 5px;
  box-shadow: -30px 30px 40px -5px rgba(0, 0, 0, 0.12);
  transition: 0.8s;
}

.wcwd_content h3 {
  font-family: 'bebas-neue', sans-serif;
  font-size: 31px;
  text-align: left;
}

.wcwd_button {
  text-decoration: none;
  font-weight: 500;
  padding: 15px 25px;
  margin-top: 60px;
  background-color: inherit;
  border-color: black;
  width: 185px;
  height: 60px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #111517;
}

.wcwd_button:hover {
  text-decoration: none;
  color: #111517;
}

.wcwd_img {
  height: 80px;
  padding: 15px;
}


/*========= Hvad kan vi gøre for dig? Sektion slut =========*/

/*========= Logo slider =========*/
.logo_slider {
  border-top: solid 2px #e3e3e3;
  border-bottom: solid 2px #e3e3e3;
  margin: 60px auto 120px auto;
  padding: 100px 0 100px 0;
}

.logo_slider img {
  height: 35px;
  margin: auto;
  width: 100%;
}

/*========= Logo slider slut =========*/
/*========= Know us med gallery =========*/
.know_us {
  margin: 60px auto 150px auto;
  position: relative;
}

.know_us_dots {
  position: absolute;
  width: 45%;
  height: 95%;
  background-repeat: repeat;
  left: 8%;
  top: -1%;
  z-index: -1;
}

.know_us_gallery {
  padding: 20px 10px 30px 10px;
}

.know_us_gallery img {
  height: 500px;
  border-radius: 10px;
  box-shadow: 5px 10px 15px 10px rgba(0, 0, 0, 0.2);
  margin: 0 20px 0 20px;
}

.know_us_content {
  max-width: 400px;
  padding-left: 15px;
}

.know_us_content p {
  padding-bottom: 20px;
}

.know_button {
  text-decoration: none;
  font-weight: 500;
  padding: 15px 25px;
  background-color: inherit;
  border-color: black;
  width: 185px;
  height: 60px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #111517;
}

.know_button:hover {
  text-decoration: none;
  color: inherit;
}

/*========= Know us med gallery slut =========*/
/*========= FORSIDE slut =========*/
/*========= OM CHANGE =========*/
/*========= Om Intro =========*/

.om_menu {
  position: absolute;
  bottom: -30px;
  width: 450px;
  height: 65px;
  border-radius: 10px;
  box-shadow: 0 24px 48px -10px rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
}

.om_menu a {
  margin: 20px auto auto auto;
}

.om_menu_img {
  height: 30px;
}

.om_menu h3 {
  text-align: center;
  font-size: 21px;
  font-family: 'bebas-neue', sans-serif;
  display: inline-block;
}

.om_menu a:hover {
  text-decoration: none;
  color: inherit;
}

.om_arrow_down {
  position: absolute;
  bottom: -15px;
  left: 20%;
}

.omchange_calltoaction {
  background-color: #f8f8f8;
  padding: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/*========= Intro slut =========*/
/*========= Vores process steps start =========*/
.om_steps {
  position: relative;
  width: 100%;
  padding-bottom: 150px;
}

.arrow_left {
  position: absolute;
  width: 20%;
  margin-left: 40%;
  bottom: -60px;
  z-index: -1;
}

.arrow_right {
  position: absolute;
  width: 20%;
  margin-left: 35%;
  bottom: -60px;
  z-index: -1;
}

.arrow_left img, .arrow_right img {
  width: 100%
}

.om_steps_content {
  overflow: hidden;
  position: relative;
}

.half {
  overflow: hidden;
  margin: auto;
}

.steps_img {
  width: 50%;
  padding: 30px;
}

.steps_img img {
  width: 90%;
  border-radius: 10px;
  box-shadow: 5px 8px 20px 3px rgba(0, 0, 0, 0.2);
}

.stroke_position_om {
  width: 100%;
  height: 32px;
  margin-bottom: 40px;
}

.stroke_om {
  height: 2px;
  width: 30px;
  background-color: #e54c00;
  border-radius: 5px;
  margin: 15px 20px 15px 0;
}

.stroke_position_footer {
  width: 100%;
  height: 32px;
  margin-bottom: 10px;
  margin-left: 220px;
}

#card_content_case_footer {
  margin: 0;
}

.steps_number {
  margin-top: 3px;
  color: #999999;
}

.steps_text {
  width: 50%;
  padding: 100px 30px;
}

.steps_text h2 {
  font-size: 83px;
  margin-bottom: 40px;
}

.steps_text p {
  margin-bottom: 60px;
}

.om_button {
  text-decoration: none;
  font-weight: 500;
  padding: 15px 25px;
  margin-top: 60px;
  background-color: inherit;
  border-color: black;
  width: 185px;
  height: 60px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #111517;
}

.om_button:hover {
  text-decoration: none;
  color: #111517;
}

.half:nth-of-type(odd) {
  float: left;
}

.half:nth-of-type(even) {
  float: right;
}

.om_steps:nth-of-type(odd) .arrow_left {
  display: none;
}

.om_steps:nth-of-type(even) .arrow_right {
  display: none;
}

.om_steps:nth-of-type(even) .steps_img {
  float: right;
}

.om_steps:nth-of-type(even) .steps_text {
  float: left;
}

.om_steps_content:hover {
  text-decoration: none;
  color: #111517;
}

/*========= Vores process steps slut =========*/
/*========= Om Change klient citat =========*/

.om_quote {
  border-bottom: solid 2px #e3e3e3;
  margin-bottom: 150px;
}

.client_quote {
  max-width: 450px;
  margin: auto;
  text-align: center;
}

.quote_img {
  margin: auto;
  width: 130px;
  height: 130px;
  margin-bottom: 20px;
  border-radius: 50%;
  box-shadow: 0 12px 20px 5px rgba(0, 0, 0, 0.2);
}

.client_quote {
  font-size: 17px;
  font-weight: bold;
}

.quote_name {
  width: 100%;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  color: #999999;
  margin-top: 20px;
  margin-bottom: 30px;
}

.quote_logo {
  margin: auto;
  height: 35px;
  margin-bottom: 150px;
}

/*========= Om Change klient citat slut =========*/
/*========= Om Change slider =========*/

.stroke_position {
  width: 100%;
}

.stroke {
  height: 5px;
  width: 60px;
  background-color: #e54c00;
  border-radius: 4px;
  margin: 30px auto 70px auto;
}

.om_slider_title {
  text-align: center;
  width: 100%;
  margin: 0 auto 20px auto;
}

.omchange_card_h3 {
  width: 300px;
  position: absolute;
  margin-top: 85px;
  text-align: left;
  margin-left: 10%;
  font-size: 34px;
  line-height: 1;
}

.case_card_h2:hover {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

.cases_indentitet {
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  margin-top: 20px;
}

.omchange_category_wrapper {
  list-style-type: none;
  display: block;
      padding: 25px 7%;
}

.omchange_category_wrapper a:hover {
  color: inherit;
  text-decoration: none;
}

.category_wrapper a:hover {
  color: inherit;
  text-decoration: none;
}

.omchange_card_tags {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.14;
}

.omchange_card_content {
  position: relative;
  overflow: hidden;
  width: 90%;
  margin-left: 5%;
  height: 260px;
  display: flex;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center !important;
  border-radius: 20px;
  box-shadow: 0px 24px 48px -10px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  -webkit-transition: all 800ms cubic-bezier(0.675, 0.000, 0.265, 1);
  -webkit-transition: all 800ms cubic-bezier(0.675, 0.000, 0.265, 1.005);
  -moz-transition: all 800ms cubic-bezier(0.675, 0.000, 0.265, 1.005);
  -o-transition: all 800ms cubic-bezier(0.675, 0.000, 0.265, 1.005);
  transition: all 800ms cubic-bezier(0.675, 0.000, 0.265, 1.005);
  -webkit-transition-timing-function: cubic-bezier(0.675, 0.000, 0.265, 1);
  -webkit-transition-timing-function: cubic-bezier(0.675, 0.000, 0.265, 1.005);
  -moz-transition-timing-function: cubic-bezier(0.675, 0.000, 0.265, 1.005);
  -o-transition-timing-function: cubic-bezier(0.675, 0.000, 0.265, 1.005);
  transition-timing-function: cubic-bezier(0.675, 0.000, 0.265, 1.005);
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: #f2f2f2;
}

.omchange_card_content:hover {
  box-shadow: 0px 6px 12px -5px rgba(0, 0, 0, 0.50);
  text-decoration: none;
  color: white;
  transform: scale(0.97);
  text-decoration: none;
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -o-transform: scale(0.98);
}

img.omchange_client_logo_neg {
  height: 30px;
    margin: 6% 7%;
}

.omchange_card_categories {
  text-align: left;
  font-size: 12px;
}

/*========= OM CHANGE slut =========*/
/*========= TEAM start =========*/

.team_arrow_down {
  position: absolute;
  bottom: -15px;
  left: 55%;
}

.team {
  margin-top: 200px;
  margin-bottom: 320px
}

.team h2 {
  font-size: 83px;
  line-height: 1;
  margin-top: 100px;
  margin-bottom: 50px;
  max-width: 250px;
}

.team_stroke {
  height: 5px;
  width: 60px;
  background-color: #e54c00;
  border-radius: 4px;
  margin-bottom: 30px;
}

.team_members {
  width: 100%;
}

.team_members_half {
  justify-content: flex-end;
  width: 50%;
  margin-bottom: -240px;
  padding-left: 50px;
}

.team_members_empty {
  width: 50%;
  float: left;
}

.team_members img {
  max-width: 320px;
  width: 90%;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 24px 48px -10px rgba(0, 0, 0, 0.2);
}

.team_name {
  max-width: 320px;
  width: 90%;
  margin-bottom: 60px;
  font-size: 24px;
  display: flex;
}

.left {
  display: inline-flex;
}

.right {
  display: inline-flex;
}

.stroke_team {
  height: 2px;
  display: inline-flex;
  flex-grow: 100;
  background-color: #e54c00;
  border-radius: 4px;
  margin: 12px 10px;
}

.team_members:nth-of-type(odd) .team_members_half {
  float: left;
}

.team_members:nth-of-type(odd) .team_members_empty {
  display: none;
}

/*========= TEAM slut =========*/
/*========= SERVICES start =========*/

.background_img_services {
  position: relative;
  top: 0;
  margin-top: 0;
  margin-bottom: 120px;
  width: 100%;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  border-radius: 0px 0px 30px 0px
}

.hero_services {
  margin-top: 285px;
}

.stroke_position_services {
  width: 100%;
}

.stroke_services {
  height: 2px;
  width: 30px;
  background-color: #e54c00;
  border-radius: 4px;
  margin: 30px 1px;
}

.h1_hero_services {
  font-size: 61px;
  max-width: 100%;
  max-height: 20%;
  line-height: 0.88;
}

.calltoaction_hero_services {
  position: absolute;
  top: 82%;
  margin-left: 35%;
  text-decoration: none;
  padding: 15px 20px;
  background-color: #ffffff;
  border-color: #ffffff;
  width: 58px;
  height: 60px;
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
  transform: rotate(90deg);
}

.komme_uden_om_det {
  text-align: center;
  display: block;
}

.services_main_content_text {
  font-weight: 300;
  max-width: 435px;
  color: #999999;
  display: inline-block;
}

.buttons_wrapper {
  margin-top: 70px;
}

.buttons_wrapper h2 {
  margin-bottom: 30px;
}

#services_contact {
  position: relative;
  padding: 0px 30px;
}

.services_dots {
  position: absolute;
  width: 17%;
  height: 19%;
  background-repeat: repeat;
  right: 19%;
  bottom: 47%;
  z-index: -1;
}

.services_button {
  text-decoration: none;
  font-weight: 500;
  padding: 15px 25px;
  background-color: inherit;
  background-color: #e54c00;
  width: 185px;
  height: 60px;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 24px 48px -10px rgba(0, 0, 0, 0.2);
}

.services_button:hover{
  text-decoration: none;
  color: white;
  padding: 14px 24px;
  box-shadow: 0px 6px 12px -5px rgba(0, 0, 0, 0.50);
  transform: scale(0.97);
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -o-transform: scale(0.98);
}

/*========= services slut =========*/

/*========= CASES forside start =========*/

.case_card_content {
  position: relative;
  overflow: hidden;
  margin: 50px;
  width: 100%;
  max-width: 900px;
  min-height: 400px;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center !important;
  border-radius: 20px;
  box-shadow: 0px 24px 48px -10px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  -webkit-transition: all 800ms cubic-bezier(0.675, 0.000, 0.265, 1);
  -webkit-transition: all 800ms cubic-bezier(0.675, 0.000, 0.265, 1.005);
  -moz-transition: all 800ms cubic-bezier(0.675, 0.000, 0.265, 1.005);
  -o-transition: all 800ms cubic-bezier(0.675, 0.000, 0.265, 1.005);
  transition: all 800ms cubic-bezier(0.675, 0.000, 0.265, 1.005);
  -webkit-transition-timing-function: cubic-bezier(0.675, 0.000, 0.265, 1);
  -webkit-transition-timing-function: cubic-bezier(0.675, 0.000, 0.265, 1.005);
  -moz-transition-timing-function: cubic-bezier(0.675, 0.000, 0.265, 1.005);
  -o-transition-timing-function: cubic-bezier(0.675, 0.000, 0.265, 1.005);
  transition-timing-function: cubic-bezier(0.675, 0.000, 0.265, 1.005);
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: #f2f2f2;
}

.case_card_content:hover {
  box-shadow: 0px 6px 12px -5px rgba(0, 0, 0, 0.50);
  transform: scale(0.97);
  text-decoration: none;
  color: #f2f2f2;
  max-width: 897px;
  min-height: 397px;
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -o-transform: scale(0.98);
}
.client_logo_neg {
  margin-left: 6%;
  margin-top: 30px;
  height: 35px;
}

.case_card_h2 {
  position: absolute;
  margin-top: 75px;
  margin-left: 10%;
}

.case_card_h2:hover {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

.cases_indentitet {
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  margin-top: 20px;
}

.cases_tags {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.category_wrapper {
  list-style-type: none;
  margin-top: 250px;
  padding-left: 6%;
  display: block;
  line-height: 1;
}

.category_wrapper a:hover {
  color: inherit;
  text-decoration: none;
}

.post-categories {
  list-style-type: none;
  font-size: 14px;
  line-height: 1.14;
  list-style-type: none;
}

.cases_button {
  text-decoration: none;
  position: absolute;
  font-weight: 500;
  padding: 12px 20px;
  margin-top: 350px;
  margin-left: 100px;
  background-color: inherit;
  border-color: black;
  width: 175px;
  height: 55px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #111517;
  z-index: 2;
 }

 .pagination {
   color: #e54c00;
   padding: 10px;
 }

 .page-numbers.current {
   color: #e54c00;
   background-color: white;
   padding: 20px 30px;
   margin: 10px;
   border: solid 1px;
   border-radius: 10px;
 }

 .page-numbers {
   color: #999999;
   background-color: white;
   padding: 20px 30px;
   margin: 10px;
   border: solid 1px;
   border-radius: 10px;
 }

.page-numbers:hover {
  background-color: white;
  text-decoration: none;
  color: inherit;
}

/*========= CASES forside slut =========*/
/*========= CASES enkelt start =========*/

.menubtn.close_case::before {
  top: 4px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menubtn.close_case::after {
  top: 4px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.h1_case {
  font-size: 61px;
  line-height: 1;
  color: #f2f2f2;
}

.h2_case {
  font-size: 41px;
  margin-bottom: 15px;
}

.client_about p, .goal_text p, .case_strategi p, .case_some_text p,
.rekru_text p, .results_text p {
  color: #999999;
}

/*========= CASES hero start =========*/

.case_hero {
  margin-top: 20%;
}

.stroke_position_case {
  width: 100%;
  height: 32px;
  margin-bottom: 20px;
}

.stroke_case {
  height: 2px;
  width: 30px;
  background-color: #e54c00;
  border-radius: 4px;
  margin: 15px 20px 15px 0;
}

.hero_client {
  margin-top: 3px;
  color: #f2f2f2;
}

.case_down {
  margin-top: 90%;
  text-decoration: none;
  padding: 15px 20px;
  background-color: #f8f8f8;
  width: 65px;
  height: 65px;
  border-radius: 10px;
  transform: rotate(90deg);
}

/*========= CASES hero slut =========*/
/*========= CASES client start =========*/

.case_client {
  border-bottom: solid 2px #e3e3e3;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.pre_client {
  margin-top: 3px;
  font-family: 'bebas-neue', sans-serif;
  font-size: 17px;
}

.client_logo {
  padding: 10px;
  background-color: #f8f8f8;
  width: 65px;
  height: 65px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.1);
}

.client_text, .client_cat {
  font-size: 19px;
  padding-top: 20px;
}

.client_cat ul {
  display: block;
}

.client_cat li {
  margin-right: 10px;
  margin-top: 20px;
}

.client_cat a {
  font-size: 19px;
  text-decoration: none;
}

.client_cat a:hover {
  color: inherit;
}

/*========= CASES client slut =========*/
/*========= CASES about client start =========*/

.case_link {
  font-size: 17px;
  border-bottom: 1px solid #111517;
  padding-bottom: 3px;
  margin-bottom: 40px;
}

.case_link:hover {
  text-decoration: none;
  color: inherit;
}

/*========= CASES about client slut =========*/
/*========= CASES image start =========*/

.client_image {
  height: 700px;
  overflow: hidden;
  background-position: center;
  margin: 120px 0 150px 0;
}

/*========= CASES image slut =========*/
/*========= CASES goal start =========*/

.goal_line {
  border-bottom: solid 2px #e3e3e3;
  padding-bottom: 200px;
  margin-bottom: 180px;
}

.case_goal, .case_strategi, .case_some_content, .case_results {
  width: 60%;
  margin: auto;
}

/*========= CASES goal slut =========*/
/*========= CASES strategi start =========*/

.strategi_line {
  position: relative;
  border-bottom: solid 2px #e3e3e3;
  padding-bottom: 145px;
  margin-bottom: 120px;
}

.strategi_dots {
  position: absolute;
  width: 38%;
  height: 32%;
  background-repeat: repeat;
  left: 31%;
  top: 51%;
  z-index: -1;
}

.case_strategi_img img {
  width: 200px;
  height: 200px;
  margin: 45px 25px 0 25px;
  border-radius: 10px;
  box-shadow: 0 24px 48px -10px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
}

/*========= CASES strategi slut =========*/
/*========= CASES some start =========*/

.case_some {
  margin-bottom: 200px;
}

.case_some_text img {
  width: 45px;
  height: auto;
}

.case_some_ex {
  width: 100%;
}

.case_some_half {
  width: 45%;
  margin-bottom: -65%;
  float: right;
}

.case_some_empty {
  width: 55%;
  float: left;
}

.case_some_ex img {
  width: 100%;
}

.case_some_ex:nth-of-type(even) .case_some_half {
  margin-bottom: 0;
  float: left;
}

.case_some_ex:nth-of-type(even) .case_some_empty {
  display: none;
}

/*========= CASES some slut =========*/
/*========= CASES rekrutering start =========*/

.rekru {
  position: relative;
}

.rekru_content {
  max-width: 515px;
  margin-right: 40px;
}

.rekru_dots {
  position: absolute;
  width: 30%;
  height: 120%;
  background-repeat: repeat;
  right: 0;
  top: -11%;
  z-index: -1;
}

.rekru_video {
  padding: 0px 35px;
}

.rekru_video iframe,
.rekru_video object,
.rekru_video embed {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0 24px 48px -10px rgba(0, 0, 0, 0.15);
}

.start-video {
  position: absolute;
  top: 39%;
  padding: 12px;
  left: 45%;
  opacity: .3;
  cursor: pointer;
  transition: all 0.3s;
}

.start-video:hover
{
    opacity: 1;
    -webkit-filter: brightness (1);
}

div.thumbnail_container
{
  position: absolute;
      width: 99%;
      left: 0px;
      height: 352px;
      overflow: hidden;
      border-radius: 10px;
      background-color: #000;
}

img.thumbnail
{
    opacity: 0.5;
}

/*========= CASES rekrutering slut =========*/
/*========= CASES branding start =========*/

.brand_content {
  max-width: 430px;
}

.brand_img {
  height: 100%;
  border-radius: 10px;
}

.orange_square_case {
  height: 125%;
  width: 80%;
  margin-top: -60px;
  right: 0;
  position: absolute;
  border-radius: 10px;
  background-color: #F1E4DE;
}

.iphone_wrapper {
  position: absolute;
  z-index: 2;
  width: 407px;
  left: -41px;
  top: 6px;
}

/*========= CASES branding slut =========*/
/*========= CASES results start =========*/

.case_results {
  margin-top: 150px;
  margin-bottom: 100px;
}

/*========= CASES results slut =========*/
/*========= CASES FOOTER start =========*/

.case_section {
  background-color: #f2f2f2;
  margin-bottom: 100vh;
  position: relative;
  z-index: 3;
  box-shadow: 0 24px 48px -10px rgba(0, 0, 0, 0.15);
}

.case_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.footer_project_case {
  height: 100vh;
  padding: 20% 0 90px 0;
  background-color: inherit;
  text-align: center;
}

.footer_project_case h2 {
  margin-bottom: 40px;
}

.next_case {
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;

}

/*========= CASES FOOTER slut =========*/
/*========= CASES enkelt slut =========*/

/*========= CONTACT start =========*/
/*========= CONTACT intro start =========*/

.contact {

}

.contact_intro {
  margin-top: 160px;
  margin-left: auto;
  padding-left: 15px;
  max-width: 570px;
}

.contact_intro h1 {
  font-size: 190px;
  line-height: 0.89;
}

.stroke_position_contact {
  width: 100%;
  margin-top: 45px;
}

.stroke_contact {
  height: 5px;
  width: 150px;
  float: right;
  background-color: #e54c00;
  border-radius: 5px;
  margin: 0;
}

.contact_intro p {
  padding-top: 50px;
}

.contact_img {
  position: relative;
}

.pink_square {
  position: absolute;
  height: 1000px;
  width: 70%;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-bottomleft: 30px;
  border-bottom-left-radius: 30px;
  background-color: #f0eae8;
  right: 0;
  top: 0;
}

.contact_carousel {
  margin-top: 160px;
}

.contact_gallery {
  padding: 20px 10px 30px 10px;
  margin-left: 15%;
}

.contact_gallery img {
  width: 360px;
  border-radius: 10px;
  box-shadow: 5px 10px 15px 10px rgba(0, 0, 0, 0.2);
}

/*========= CONTACT intro slut =========*/
/*========= CONTACT form start =========*/

.contact_form {
  margin-top: 100px;
}

.contact_form input, .contact_form textarea {
  border-radius: 10px;
  padding: 20px 15px;
  width: 100%;
  border-width: 0;
}

.contact_form label {
  width: 100%;
}

.wpcf7-submit {
  float: right;
  max-width: 180px;
  background-color: #e54c00;
  color: #f2f2f2;
  font-weight: 500;
  border-width: 0;
  cursor: pointer;
}

.contact_address {
  margin-left: 18%;
}

.contact_address h2 {
  margin-bottom: 35px;
}

.contact_address p {
  line-height: 1;
  margin-top: 25px;
}

.contact_address a:hover {
  text-decoration: none;
  color: inherit;
}

/*========= CONTACT form slut =========*/
/*========= CONTACT map start =========*/

.contact_map {
  position: relative;
  margin-top: 150px;
}

.contact_map_dots {
  position: absolute;
  height: 30px;
  width: 90%;
  top: -25px;
  left: 10%;
}

.stroke_position_contact_map {
  width: 100%;
  top: 0;
  left: 8%;
}

.stroke_contact_map {
  height: 5px;
  width: 100px;
  background-color: #e54c00;
  border-radius: 5px;
  margin: 0;
}

.acf-map {
	width: 100%;
	height: 520px;
	border: #e3e3e3 solid 1px;
	margin: 0;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}

/*========= CONTACT map slut =========*/
/*========= CONTACT slut =========*/
/*========= FOOTER =========*/

.footer_project {
  padding: 60px 0 90px 0;
  background-color: #e9e9e9;
  text-align: center;
  margin-top: 60px;
}

.footer_project h2 {
  margin-bottom: 55px;
}

.footer_button {
  text-decoration: none;
  font-weight: 500;
  padding: 15px 65px;
  background-color: inherit;
  color: white;
  border-color: #e54c00;
  background-color: #e54c00;
  border-radius: 5px;
  border-style: solid;
  box-shadow: 0 24px 48px -10px rgba(0, 0, 0, 0.2);
}

.footer_button:hover {
  text-decoration: none;
  color: white;
  padding: 14px 64px;
  box-shadow: 0px 6px 12px -5px rgba(0, 0, 0, 0.50);
  transform: scale(0.97);
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -o-transform: scale(0.98);
}

.letstalk_footer {
  text-align: center;
  margin: 70px auto 70px auto;
}

.letstalk_footer p {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.letstalk_footer a {
  color: #e54c00;
}

.letstalk_footer a:hover {
  color: #e54c00;
  text-decoration: none;
}

.SoMe_footer {
  border-top: solid 2px #e3e3e3;
  border-bottom: solid 2px #e3e3e3;
}

.SoMe_footer ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 50px auto 50px auto;
}

.SoMe_footer li {
  display: inline-block;
  margin: 0 auto 0 auto;
}

.contact_footer {
  text-align: center;
  margin: 70px auto 70px auto;
}

.footer_mail {
  color: #e54c00;
}

.footer_mail:hover {
  color: #e54c00;
  text-decoration: none;
}

.footer_address p {
  font-size: 19px;
  margin-top: 40px;
}

.footer_address:hover {
  text-decoration: none;
  color: inherit;
}

.cvr {
  height: 30px;
  background-color: #e3e3e3;
  font-size: 13px;
}

/*========= Large devices (desktops/tablets, 1140px and down) =========*/
@media screen and (max-width: 1140px) {
  .rekru_content {
    padding-left: 15px;
  }

  .stroke_position_footer {
    margin-left: 10%;
  }
}

/*========= Large devices (desktops/tablets, 1100px and down) =========*/
@media screen and (max-width: 1104px) and (min-width: 993px) {
  .iphone_wrapper {
    left: 21px;
  }
}

/*========= Large devices (desktops, 992px and down) =========*/
@media screen and (max-width: 992px) {

  .watch, .showreel {
    margin-left: 20px;
  }

  .wrapper_cases .row {
    justify-content: center;
    text-align: center;
    min-height: 850px;
  }

  .forside_cases_header {
    text-align: center;
    width: auto;
   }

  .know_us_dots, .rekru_dots {
    display: none;
   }

   .case_strategi_img img {
     width: 150px;
     height: 150px;
   }

  .forside_cases_wrapper {
    min-height: 300px;
    width: 70%;
    text-align: -webkit-center;
    margin-right: 20%;
  }

  .forside_cases_catergories {
    text-align: inherit;
  }

  .case_img {
    margin-left: 5%;
    min-height: 390px;
    width: 600px;
 }

  .forside_case_button {
    position: inherit;
  }

  .forside_carousel_wrapper .owl-dots {
    position: inherit;
    margin-left: 0px;
  }

  .rekru_content {
    margin: auto;
    padding-right: 15px;
  }

  .brand_content {
    margin-right: 20%;
  }

  .omchange_card_content {
    width: 75%;
    margin-left: 13%;
  }

  .half_steps_img {
    min-width: 340px;
  }

  .steps_text {
    padding-top: 75px;
  }

  .stroke_position_footer {
    margin-left: 0;
  }

  .orange_square_case {
    height: 106%;
    margin-top: -4px;
  }

  .iphone_wrapper {
    left: -5px;
   }

   .team_members_half {
     padding-left: 20px;
   }

  .team_name {
    margin-bottom: 90px;
  }

  .contact_gallery img {
    width: 295px;
  }

}

/*========= Medium devices (tablets, 768px and down) =========*/
@media screen and (max-width: 768px) {
  h1 {
    font-size: 11vw;
  }

  .hero_info {
    margin: 200px auto 0 0;
  }

  .hero_text {
    font-size: 16px;
    width: 365px;
    padding-bottom: 25px;
  }

  .watchourshowreel {
    margin-top: 50px;
    float: left;
    margin-left: -65px;
  }

  .watch, .showreel {
    margin-left: 40px;
  }

  .modal {
    max-height: 400px;
  }

  .wrapper_cases .row {
    justify-content: center;
    text-align: center;
    min-height: 850px;
  }

  .forside_cases_wrapper {
    min-height: 400px;
    width: 70%;
    text-align: -webkit-center;
    margin-right: 20%;
  }

  .forside_cases_header {
    text-align: center;
    width: auto;
   }

  .forside_cases_catergories {
    text-align: inherit;
  }

  .case_img {
    margin-left: 5%;
    min-height: 390px;
    width: 600px;
  }

  .forside_case_button {
    position: inherit;
  }

  .forside_carousel_wrapper .owl-dots {
    position: inherit;
    margin-left: 0px;
  }

  .do_for_u {
    margin: 100px auto 100px auto;
  }

  .logo_slider {
    padding: 50px 0 50px 0;
  }

  .logo_slider img {
    height: 30px;
    margin: auto;
    width: 100%;
  }

 .services_dots, .strategi_dots {
    display: none;
  }

  .steps_text h2 {
    font-size: 11vw;
  }

  .half:nth-of-type(odd), .half:nth-of-type(even),
  .om_steps:nth-of-type(even) .steps_img, .om_steps:nth-of-type(even) .steps_text {
    float: none;
  }

  .arrow_right, .arrow_left {
    display: none;
  }

  .steps_img {
    width: 80%;
  }
  .steps_img img {
    width: 100%;
    margin: auto;
  }

  .steps_text {
    width: 100%;
    padding: 30px;
  }

  .team {
    margin-top: 200px;
    margin-bottom: 160px
  }

  .team h2 {
    text-align: center;
    max-width: 100%;
  }

  .team_stroke {
    margin-left: auto;
    margin-right: auto;
  }

  .team p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    text-align: center;
  }

  .team_members_half {
    justify-content: center;
  }

  .case_down {
      margin-top: 25px;
      margin-left: auto;
  }

  .case_goal, .case_strategi, .case_some_content, .case_results {
    width: 100%;
  }

  .client_image {
    height: 500px;
  }

  .case_strategi_img img {
    width: 200px;
    height: 200px;
  }

  .rekru_content, .brand_content {
    max-width: 100%;
  }

  .brand_content {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .omchange_card_content {
    width: 75%;
    margin-left: 13%;
  }

  .stroke_position_footer {
    margin-left: 0;
  }

  .orange_square_case {
    height: 106%;
    margin-top: -4px;
  }

  .iphone_wrapper {
    left: -10px;
  }

  .contact {
  flex-direction: column-reverse;
  }

  .pink_square {
     display: none;
  }

  .contact_img {
    top: -159px;
  }

  .contact_gallery img {
    width: 100%;
    height: 300px;
  }

  .contact_gallery {
    margin-left: 0%;
    padding: 0;
  }

  .contact_intro {
    margin-top: 0px;
  }
}

/*========= (620px and down) =========*/
@media screen and (max-width: 620px) {

  .case_some_half {
    width: 80%;
    margin: 20px auto 20px auto;
    float: none;
  }

  .case_some_empty {
    display: none;
  }

  .forside_cases_wrapper {
    margin-right: 30%;
  }

  .case_strategi_img img {
    width: 255px;
    height: 255px;
  }
}

/*========= Bootstrap col-sm lægger sig under hinanden, f.eks. hero på forsiden (575px and down) =========*/
@media screen and (max-width: 575px) {
  .SoMe {
    height: 51px;
    text-align: center;
    display: block;
  }

  .header_some_icon {
    margin: auto 20px auto 20px
  }

  .hero_info {
    margin: 100px 0 0;
    float: left;
  }

  .wrapper_cases {
    padding-left: 18px
  }

  .wrapper_cases .row {
    min-height: 925px;
  }

  .case_img {
    margin-left: 5%;
    min-height: 200px;
    width: 450px;
  }

  .logo_slider {
    padding: 40px 0 40px 0;
  }

  .logo_slider img {
    height: 20px;
    padding: auto;
    width: 100%;
  }

  .know_us_gallery img {
    height: 400px;
    border-radius: 10px;
    box-shadow: 5px 10px 15px 10px rgba(0, 0, 0, 0.2);
    margin: 0 20px 0 20px;
  }

  .om_menu {
    width: 380px;
  }

  .team_members_half {
    margin: auto;
    padding-left: 0;
    width: 100%;
  }

  .team_members:nth-of-type(odd) .team_members_half {
    float: none;
  }

  .team_members_empty {
    display: none;
  }

  .team_members_half img {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .team_name {
    width: 100%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .nav_wrapper {
    margin-left: 50%;
  }

  .case_client {
    padding-bottom: 100px;
  }

  .client_cat ul {
    display: block;
  }

  .case_card_h2 {
    font-size: 40px;
  }

  .omchange_card_content {
  height: 200px;
  }

  .omchange_card_h3 {
    margin-top: 70px;
    margin-left: 10%;
  }

  .omchange_card_tags {
    font-size: 10px;
  }

  .omchange_card_categories {
    font-size: 10px;
  }

  .iphone_wrapper {
    left: -51px;
  }
}

/*========= Small devices () =========*/
@media screen and (max-width: 420px) {
  h1 {
    margin-top: 25px;
  }

  header {
    top: 35px;
  }

  .nav_logo {
    top: 73px;
  }

  .hero_info {
    margin: 100px auto 0;
  }

  .hero_text {
    font-size: 16px;
    width: 225px;
  }

  .watchourshowreel {
    margin-top: 50px;
    margin-left: -65px;
  }

  .nav_wrapper {
    margin-left: 40%;
  }

  .forside_cases_wrapper {
    min-height: 475px;
    margin-right: 51%;
  }

  .forside_cases_wrapper h2 {
    font-size: 40px;
  }

  .forside_cases_wrapper .forside_cases_catergories {
    font-size: 12px;
  }

  .team_members_half {
    width: 90%;
  }

  .case_img {
    min-height: 350px;
  }

  .calltoaction_hero_services {
    margin-left: 0;
  }

  .hero_services {
    margin-top: 150px;
  }

  .services_main_content_text {
    width: 100%;
  }

  .background_img_services {
    height: 510px;
  }

  .know_us {
    text-align: center;
  }

  .know_us_gallery img {
    height: 310px;
    border-radius: 10px;
    box-shadow: 5px 10px 15px 10px rgba(0, 0, 0, 0.2);
    margin: 0 20px 0 20px;
  }

  .om_menu {
    width: 100%;
    left: 0;
  }

  .square {
    width: 180px;
  }

  .case_card_h2 {
    font-size: 35px;
  }

  .omchange_card_content {
    height: 150px;
    width: 95%;
    margin-left: 8px;
  }

  img.omchange_client_logo_neg {
    height: 20px;
    margin: 5% 6%;
  }

  .omchange_card_h3 {
    font-size: 17px;
    margin-top: 55px;
  }

  .omchange_card_tags {
    font-size: 10px;
  }

  .omchange_category_wrapper {
    padding: 6px 7%;
  }

    .h1_case {
      font-size: 35px;
    }

  .brand_img {
      height: 85%;
    }

  .iphone_wrapper {
    width: 348px;
  }

  .orange_square_case {
    height: 90%;
  }

}

/*========= Tiny devices () =========*/
@media screen and (max-width: 360px) {

  .hero_text {
    font-size: 16px;
    width: 225px;
  }

  .SoMe {
    text-align: center;
    display: block;
  }

  .nav_wrapper {
    position: absolute;
    left: -35px;
  }

  .forside_cases_wrapper {
    margin-right: 55%;
    min-height: 495px;
  }

  .modal {
    max-height: 300px;
  }

  .know_us_gallery img {
    height: 280px;
    border-radius: 10px;
    box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.2);
    margin: 0 20px 0 20px;
  }

  .case_card_h2 {
    font-size: 30px;
  }

  .wrapper_cases .row {
    min-height: 990px;
  }
}

/*========= Height of devices =========*/
@media screen and (min-width: 992px) and (min-height: 661px) and (max-height: 780px) {

  .hero_info {
    margin-top: 300px;
  }

  .watchourshowreel {
    margin-top: 400px;
  }

  .omchange_category_wrapper {
    padding: 4px 7%;
  }

}

/*========= Height of devices =========*/
@media screen and (min-width: 768px) and (max-width: 991px) and (max-height: 780px) {

  .hero_info {
    margin-top: 180px;
  }

  .watchourshowreel {
    margin-top: 270px;
  }

}

/*========= Height of devices =========*/
@media screen and (min-width: 768px) and (max-height: 660px) {

  .hero_info {
    margin-top: 150px;
  }

  .watchourshowreel {
    margin-top: 280px;
  }
}

/*========= Height of devices =========*/
@media screen and (min-width: 568px) and (max-height: 665px) {

  h1 {
    font-size: 55px;
    margin-top: 25px;
  }

  .hero_info {
    margin-top: 100px;
  }


}

/*========= Height of devices =========*/
@media screen and (min-width: 568px) and (max-height: 500px) {
  h1 {
    font-size: 45px;
  }
}

/*========= Height of devices =========*/
@media screen and (min-width: 568px) and (max-height: 425px) {
  h1 {
    font-size: 40px;
  }
  .hero_text {
    padding-bottom: 0;
  }
}
