* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
}


a {
  color: inherit;
}


/*Header*/

header {
  z-index: 100;
  top:0;
  width: 100%
}

/*Sociale medier og tekst i toppen*/
.SoMe {
  height: 45px;
  background-color: rgba(87, 92, 94, 0.5);
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.SoMe div {
  margin-top: 1.5%;
  margin-left: 3.5%;
  margin-right: 3.5%;
  display: -webkit-inline-box;
}

#SoMecalendar {
  color: #e54c00;
  text-decoration: underline;
}


/*Logo og menu*/
.navbar {
  margin-left: 3.5%;
  margin-right: 3.5%;
  padding-left: 0;
  padding-right: 0;
}


/*Hero image*/

.container {
  margin: 0;
  padding: 0;
}

.hero {
  position: relative;
  top: 0;
  margin-top: 0;
  width: 100%;
  height: 900px;
  overflow: hidden;
}

.hero img {
  top: 0;
  width: 100%;
}

.hero_title {
  max-width: 30%;
  max-height: 20%;
  text-shadow: 0 2px 0 #111517;
  font-family: 'bebas-neue', sans-serif;
  font-size: 83px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.88;
  letter-spacing: normal;
  color: #f2f2f2;
}

.hero_info {
  position: absolute;
  top: 38%;
  margin-left: 12%;
}

.Rectangle {
  width: 185px;
  height: 62px;
  border-radius: 5px;
}

.calltoaction {
  text-decoration: none;
  padding: 15px 25px;
  background-color: inherit;
  border-color: #e54c00;
  width: 185px;
  height: 62px;
  border-radius: 5px;
  border-style: solid;
}

.hero_button {
  width: 106px;
  height: 19px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #f2f2f2;
}

.hero_button:hover {
  color: #f2f2f2;
  text-decoration: none;
}

.test {
    left: 60%;
    bottom: 45%;
    position: absolute;
    display: block;
}

.Watch {
  width: 96px;
  height: 39px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.17;
  letter-spacing: normal;
  color: #f2f2f2;
}

.Showreel {
  width: 114px;
  height: 39px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #f2f2f2;
}

/*Case area*/

.case_area {
  height: 900px;
}

.case {
  width: 50%;
}

/*Footer*/

.cvr {
  height: 30px;
  background-color: #e3e3e3;
  color: #111517;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 300;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }
